:root {
  --primary-color: #d3b2bc;
  --secondary-color: #a3818b;
  --background-color: #faebef;
}

.lightbackground {
  background-color: var(--background-color);
}
.textcenter {
  text-align: center;
}

.textleft {
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navlink {
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin-left: 20px;
}

.navlink:hover {
  color: var(--primary-color);
}

.active {
  color: var(--secondary-color);
}

.headshot {
  display: block;
  margin: 0 auto;
  width: 35%;
  max-height: 70vh;
}

.afterscroll {
  padding: 40px;
  background-color: #faebef;
  margin: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 96px;
  text-align: center;
  color: var(--primary-color);
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin: 20px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 54px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.smallbutton {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 100ms ease-in-out;
}
.smallbutton:hover {
  background-color: var(--secondary-color);
}
.button {
  background-color: var(--primary-color);
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 100ms ease-in-out;
}

.button:hover {
  background-color: var(--secondary-color);
}
.secondarybutton {
  padding: 20px 40px;
  border: 2px solid var(--secondary-color);
  color: #a3818b;
  text-decoration: none;
  border-radius: 15px;
}
.grid-image {
  width: 30%;
  margin: 30px;
}

.imagerow {
  margin: 50px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #faebef;
  border-radius: 30px;
  margin-bottom: 0px;
}

.footerflex {
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
  align-content: center;
}

.footerlink {
  margin-top: 30px;
  font-size: 14px;
}

.small-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.project-images {
  max-width: 300px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-grid {
  padding: 30px;
}

footer img {
  display: block;
  margin: 0 auto;
}

.large-image {
  max-width: 500px;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content {
  padding: 60px;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

@media (max-width: 600px) {
  .imagerow {
    flex-direction: column;
  }
  .grid-image {
    width: 50%;
  }
  .project-card {
    flex-direction: column;
  }
  .project-card p,
  h3 {
    text-align: center;
  }

  .about-flex {
    flex-direction: column;
  }
}
